/* admin.css */

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4; /* light gray background for consistency */
}

#ethelect-logo {
    position: absolute;
    top: 10px;
    left: 10px;
    width: 130px;
    z-index: 1000;
}

h1, h2 {
    background-color: #89CFF0; /* maintaining light blue for headers */
    color: #fff;
    padding: 20px 0;
    text-align: center;
    margin: 0;
    border-bottom: 1px solid #ddd;
}

input[type="text"], input[type="number"] {
    display: block;
    padding: 10px;
    margin: 15px auto;
    border: 1px solid #ddd;
    border-radius: 5px;
    width: 70%;
}

button {
    display: block;
    margin: 15px auto;
    padding: 10px 15px;
    background-color: #89CFF0; /* maintaining light blue for buttons */
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 18px; /* Make font size consistent with landing.css */
}

button:hover {
    background-color: #00FFFF; /* Same hover color as landing.css for consistency */
}

p {
    text-align: center;
    margin: 20px 0;
}

a {
    color: #000;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

@media screen and (max-width: 600px) {
    h1, h2 {
        font-size: 20px; /* Larger text for headers */
        padding: 15px 0; /* Adjust padding */
    }

    input[type="text"], input[type="number"] {
        width: 90%; /* Increase width for better visibility */
        padding: 15px; /* Larger padding for easier interaction */
        font-size: 16px; /* Larger font size for readability */
    }

    button {
        padding: 15px 20px; /* Increase padding for larger touch area */
        font-size: 20px; /* Increase font size for readability */
        width: 80%; /* Wider buttons for easier interaction */
    }

    #ethelect-logo {
        width: 100px; /* Adjust logo size */
    }

    p, a {
        font-size: 16px; /* Increase font size for better readability */
    }
}